In [69]:
import pandas as pd
import seaborn as sns

In [70]:
iris=sns.load_dataset("iris")
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [71]:
iris.shape

(150, 5)

In [72]:
iris.size

750

In [73]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [74]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [75]:
iris.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [76]:
iris.duplicated().sum()

1

In [77]:
iris.drop_duplicates(inplace=True)

In [78]:
iris.duplicated().sum()

0

In [79]:
iris['species'].replace({'versicolor':1,"setosa":0,"virginica":2},inplace=True)

In [80]:
train=iris.drop("species",axis=1)
test=iris.species

In [81]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
train1=ss.fit_transform(train)

In [82]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(train1,test,test_size=0.30,random_state =50)

In [83]:
x_train.shape

(104, 4)

In [84]:
x_test.shape

(45, 4)

In [85]:
y_train.shape

(104,)

In [86]:
y_test.shape

(45,)

In [87]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier()
rfc.fit(x_train,y_train)
pred_=rfc.predict(x_test)

In [88]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_)*100

95.55555555555556

In [89]:
pred_

array([1, 1, 1, 0, 2, 0, 2, 0, 2, 0, 2, 1, 1, 2, 0, 2, 2, 1, 1, 2, 2, 0,
       1, 1, 1, 2, 2, 1, 2, 1, 2, 2, 0, 0, 0, 0, 1, 0, 0, 1, 2, 0, 2, 0,
       0], dtype=int64)

In [90]:
y_test

63     1
86     1
57     1
25     0
110    2
16     0
136    2
23     0
120    2
12     0
148    2
56     1
59     1
122    2
20     0
137    2
104    2
80     1
78     1
131    2
147    2
14     0
84     1
73     1
98     1
83     1
116    2
89     1
143    2
54     1
112    2
72     1
34     0
21     0
3      0
41     0
82     1
7      0
39     0
55     1
102    2
8      0
100    2
17     0
42     0
Name: species, dtype: int64

In [91]:
import pandas as pd
pd.DataFrame([pred_,y_test]).T

    0  1
0   1  1
1   1  1
2   1  1
3   0  0
4   2  2
5   0  0
6   2  2
7   0  0
8   2  2
9   0  0
10  2  2
11  1  1
12  1  1
13  2  2
14  0  0
15  2  2
16  2  2
17  1  1
18  1  1
19  2  2
20  2  2
21  0  0
22  1  1
23  1  1
24  1  1
25  2  1
26  2  2
27  1  1
28  2  2
29  1  1
30  2  2
31  2  1
32  0  0
33  0  0
34  0  0
35  0  0
36  1  1
37  0  0
38  0  0
39  1  1
40  2  2
41  0  0
42  2  2
43  0  0
44  0  0